body {
}

.oxo-view-image {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Michel_Vuillermoz_20070511_Fnac_6.jpg/400px-Michel_Vuillermoz_20070511_Fnac_6.jpg);
  height: 300px;
  width: 300px;
}
