.oxo-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  top: 0px;
  left: 0px;
  
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);

    .number {
      font-family: "Helvetica";
      font-size: 34px;
      color: white;

    }

    .suffix {
      font-family: "Helvetica";
      font-size: 22px;
      color: white;
    }

  }

}
