.home {
  position: relative;
}

.brands {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;

  .block {
    position: relative;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    // align-self: center;
    overflow: hidden;

    video {
      position: absolute;
      /* Vertical and Horizontal center */
      left: 50%; top: 50%;
      transform: translate3d(-50%, -50%, 0px) scale(1);
      transition: 4s transform ease-out;

      &:hover {
        transform: translate3d(-50%, -50%, 0px) scale(1.2);
        transition: 7s transform ease-out;
      }
    }

    &.content {

    }

    &.experience {

    }

  }

}

.button {
  height: 100px;
  width: 300px;
  position: absolute;
  z-index: 13;
  background: transparent;
  cursor: pointer;
  &:hover {


    .line {
      background-image: linear-gradient(to right, #1b2a47, #1c6c83, #1c6c83, #17b8a6);
      animation: 0.2s slidein ease-out;
      animation-fill-mode: forwards;
    }

  }

  @keyframes slidein {
    from {
      background-image: linear-gradient(to right, #1b2a47, #1c6c83, #1c6c83, #17b8a6);
    }

    25% {
      background-image: linear-gradient(to right, #17b8a6, #1b2a47, #1c6c83, #1c6c83);
    }

    50% {
      background-image: linear-gradient(to right, #17b8a6, #17b8a6, #1b2a47, #1c6c83);
    }

    75% {
      background-image: linear-gradient(to right, #1c6c83, #17b8a6, #17b8a6, #1b2a47);
    }

    to {
      background-image: linear-gradient(to right, #1c6c83, #17b8a6, #17b8a6, #1b2a47);
    }
  }

  @keyframes slideout {
    from {
      background-image: linear-gradient(to right, #1c6c83, #17b8a6, #17b8a6, #1b2a47);
    }

    25% {
      background-image: linear-gradient(to right, #1b2a47, #1c6c83, #1c6c83, #17b8a6);
    }

    50% {
      background-image: linear-gradient(to right, #17b8a6, #1b2a47, #1c6c83, #1c6c83);
    }

    75% {
      background-image: linear-gradient(to right, #17b8a6, #17b8a6, #1b2a47, #1c6c83);
    }

    to {
      background-image: linear-gradient(to right, #1c6c83, #17b8a6, #17b8a6, #1b2a47);
    }
  }

  .line {
    position: absolute;
    height: 5px;
    width: 100%;
    // top: 50%;
    background-image: linear-gradient(to right, #1b2a47, #1c6c83, #1c6c83, #17b8a6);
    animation: 0.2s slideout ease-out;
    animation-fill-mode: forwards;
    // left: 50%;
  }

}
